.cards_row {
    margin-top:160px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 32;
    width:90vw;
    margin-left:-5vw;
}

.cards_row .each{
    position:relative;
}

.cards_row .each p, .cards_row .each h2, .cards_row .each h3{
    padding:1rem;
}

.cards_row .each h3{
    text-transform: uppercase;
    font-family: 'Asap Condensed';
    font-weight:400;
    font-size:.8rem;
    padding-bottom:0;
    margin-bottom:-36px;
}

.cards_row .each h2{
    font-weight:600;
    font-size:1.7rem;
    margin-bottom:0px;
    padding-bottom:0;
}

.cards_row .each p{
    font-weight:400;
    color:#888;
}

.cards_row .card {

    z-index: 33;
    width:22%;
    margin-top:-90px;

}
.card_cta{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;


}


.cards_row .card .each p{
    padding:1rem;

}

.cards_row :nth-child(1) .each .card_base{
    background-color:var(--color1);
}

.cards_row :nth-child(2) .each .card_base{
    background-color:var(--color2);
}

.cards_row :nth-child(3) .each .card_base{
    background-color:var(--color3);
}

.cards_row :nth-child(4) .each .card_base{
    background-color:var(--color4);
}

.cards_row :nth-child(5) .each .card_base{
    background-color:var(--color5);
}

.cards_row :nth-child(6) .each .card_base{
    background-color:var(--color6);
}

.cards_row :nth-child(7) .each .card_base{
    background-color:#000;
}

.cards_row :nth-child(8) .each .card_base{
    background-color:#000;
}


.card_base{
    width:100%;
    min-width:100%;
    height:10px;
    min-height:10px;
    position:relative;
    top:90%;

}


.card #e1{
    box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    background-color:white;
    z-index: 35;
    transform:translate3d(0px,100px,100px);
    transition: all .2s;
}

.card #e2{
    box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    background-color:white;
    z-index: 34;
    transform:scaleX(.9);
    transition: all .2s;

}

.card #e3{
    box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.2);
    background-color:white;
    z-index: 33;
    transform:scaleX(.8) translateY(-3px);
    transition: all .2s;

}

.card:hover #e1{
    box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    transform:translate3d(0px,80px,100px);
}

.card:hover #e2{
    box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    transform:translate3d(0px,-10px,100px) scaleX(.9);
}

.card:hover #e3{
    box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 10px 15px -7px rgba(0, 0, 0, 0.4);
    transform:translate3d(0px,-8px,100px) scaleX(.8);
}