.pie {
    background:
        radial-gradient(circle closest-side,
            white 0,
            white 59%,
            transparent 59%,
            transparent 100%,
            var(--off-white) 0),
        conic-gradient(from 90deg,
            var(--color1) 0,
            var(--color1) calc((100%/6)*1),
            var(--color2) 0,
            var(--color2) calc((100%/6)*2),
            var(--color3) 0,
            var(--color3) calc((100%/6)*3),
            var(--color4) 0,
            var(--color4) calc((100%/6)*4),
            var(--color5) 0,
            var(--color5) calc((100%/6)*5),
            var(--color6) 0,
            var(--color6) calc((100%/6)*6));
    position: relative;
    width: 8vw;
    min-height: 8vw;
    margin: 0;
}

.pie_container {
    position: relative;
    transition: all .2s ease-out;
    top: 0px;
    z-index:20;
}

.pie_number {
    font-family: 'Asap', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    text-align: center;
    top: calc(-4vw - 1rem);
    z-index: 9;
    height: 0px;
}

#pie_line {
    height: 2000px;
    border-left: 2px solid #aaa;
    position:absolute;
    width:0px;
    margin-left:4%;
    margin-top:0px;
}